<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>
<%= link_to "Shorten Your URL", new_url_path, :class => "btn btn-large", :style => "float:right" %>
<h1><%= "#{@user.username} | #{@user.email}" %> Profile</h1>
